<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mftranslation>
            <general>
                <enabled>0</enabled>
                <mfmodule>Translation</mfmodule>
                <flush_cache_on_translation>0</flush_cache_on_translation>
                <ignore_gws_permissions>1</ignore_gws_permissions>
            </general>
            <mftranslationapis>
                <usage_limits>
                    <limit_by>2</limit_by>
                    <count>50000</count>
                </usage_limits>
                <default_translator>gt</default_translator>
                <locale_source/>
                <mfgoogleapi>
                    <api_version>v2</api_version>
                    <google_api_key></google_api_key>

                    <v3_auth_data></v3_auth_data>
                    <v3_config_file_name></v3_config_file_name>
                    <v3_location>us-central1</v3_location>
                    <glossary>
                        <enable>0</enable>
                    </glossary>
                </mfgoogleapi>
                <mfchatgptapi>
                    <chatgpt_model>gpt-4o-mini</chatgpt_model>
                    <chatgpt_api_key></chatgpt_api_key>
                    <additional_instructions></additional_instructions>
                    <glossary>
                        <enable>0</enable>
                    </glossary>
                </mfchatgptapi>
                <mfdeeplapi>
                    <deepl_api_url>https://api-free.deepl.com/v2/translate</deepl_api_url>
                    <deepl_api_key></deepl_api_key>
                    <glossary>
                        <enable>0</enable>
                    </glossary>
                </mfdeeplapi>
            </mftranslationapis>
            <auto_translation>
                <excluded_stores></excluded_stores>
                <schedule_translation>
                    <enable>0</enable>
                    <source>0</source>
                    <delay_before_translation>10</delay_before_translation>
                </schedule_translation>
            </auto_translation>
        </mftranslation>
    </default>
</config>

