<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mftranslation>
            <general>
                <enabled>0</enabled>
                <mfmodule>Translation</mfmodule>
            </general>
            <mftranslationapis>
                <locale_source/>
                <mfgoogleapi>
                    <enabled/>
                    <google_api_key></google_api_key>
                    <google_priority></google_priority>
                </mfgoogleapi>
                <mfchatgptapi>
                    <enabled/>
                    <chatgpt_api_key></chatgpt_api_key>
                    <chat_gpt_priority></chat_gpt_priority>
                </mfchatgptapi>
                <mfdeeplapi>
                    <enabled/>
                    <deepl_api_key></deepl_api_key>
                    <deepl_priority></deepl_priority>
                </mfdeeplapi>
            </mftranslationapis>
        </mftranslation>
    </default>
</config>

