/**
* Copyright © Magefan (support@magefan.com). All rights reserved.
* Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
*/

.translation-translation-index {
  .data-grid-cell-content {
    max-width: 500px;
  }
}

button.mf_auto_translate span {
    position: relative;
    padding-left: 35px;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        background-image: url('@{baseDir}Magefan_Translation/images/translate_icon.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.mf-translate-icon {
    width: 32px;
    height: 32px;
}

.translation-translation-edit .mf-translate-icon {
    width: 26px;
    height: 26px;
}

.translationplus-translation-index .mf-translate-icon {
    height: auto;
}
