<?xml version="1.0"?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magefan_Translation::translation_translation" title="Translation by Magefan" translate="title" module="Magefan_Translation" parent="Magento_Backend::system_tools" sortOrder="10" dependsOnModule="Magefan_Translation" action="translation/translation" resource="Magefan_Translation::translation_translation"/>
        </menu>
</config>
